<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Today's weather</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/utils.css">
</head>
<body>
  <header class="flex space-between container pt-3 pb-2 mb-4">
    <div class="logo"><a href="/">Today's Weather</a></div>
    <ul class="flex list-style-none">
      <li class="nav-link mr-3"><a href="/">Home</a></li>
      <li class="nav-link mr-3"><a href="#">About</a></li>
      <li class="nav-link "><a href="#">Contact</a></li>
    </ul>
  </header>

